.register_container{
  display: flex;
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  position: absolute;

  top: -500px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.appliction{
  color: blue;
  display:flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
}

input{
  padding:2px;
  outline: none;
  background-color: whitesmoke;
  color:rgb(50,50,185)
}

.cancel_icon{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}